body {
    background-size: cover;
    margin: 0px;
    background-color: #000000;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: azure;
    background-position: center;
}

#nav {
    background: linear-gradient(to bottom, #464646, transparent);
    width: device-width;
    padding: 8px;
    height: 80px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bolder;
    font-size: 36px;
}

.icon {
    height: 36px;
    width: 36px;
    padding-right: 12px;
    float: left;
    align-self: center;
    border-radius: 12px;
    margin: 8px;
}

.button:hover {
    background-color: lightblue;
}

.map {
    height: 500px;
}

.container {
    display: flex;
    margin-bottom: 60px;
    justify-content: center;
    align-items: center;
}

.inner-text {
    text-align: justify;
    color: white;
    padding: 0px 20px;
    padding-bottom: 12px;
}

.container a {
    text-decoration: none;
}

.column:hover {
    scale: 1.05;
    background-color: #464646;
}

.para-text {
    font-size: 20px;
    margin: 0px 40px;
    margin-bottom: 40px;
    text-align: justify;
}

.column {
    width: 340px;
    text-align: center;
    flex-direction: column;
    margin: 0px 12px;
    align-items: center;
    text-decoration: none;
    transition: 0.5s;
    background-color: #313131;
    border-radius: 16px;
}

.column img {
    width: 340px;
    height: 192px;
    border-radius: 16px 16px 0px 0px;
}

.option {
    display: block;
    color: white;
    margin: 16px 0px;
    font-size: 16px;
    font-weight: 600;
    padding: 0px 8px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#foot {
    height: 60px;
    background: linear-gradient(to top, #464646, transparent);
    left: 0;
    bottom: 0;
    width: device-width;
    font-size: 16px;
    color: rgb(248, 239, 239);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer {
    margin-bottom: -16px;
    height: 60px;
    background: linear-gradient(to top, #464646, transparent);
    left: 0;
    bottom: 0;
    width: device-width;
    font-size: 16px;
    color: rgb(248, 239, 239);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#love {
    text-decoration: none;
    color: white;
}

#Nit {
    text-align: center;
}

#img1 {
    text-align: left;
    width: 304px;
    float: left;
    padding-left: 5px;
    padding-right: 10px;


}

#img {
    text-align: left;
    width: 304px;
    float: left;
    padding-left: 5px;
    padding-right: 10px;
    padding-top: 10px;
}

table,
td,
th {
    width: 1000px;
    border: 1px solid;
    border-collapse: collapse;
}

th,
td {
    text-align: center;
    font-size: larger;
}

tr:hover {
    background-color: #d6eeee38;
}

a {
    color: rgb(89, 225, 246);
    text-decoration: none;
}

a:hover {
    color: rgb(9, 239, 166);
}

a:visited {
    color: rgb(180, 99, 180);
}

a:active {
    color: green;
}