body{
    background-image: url('Background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    height: 100vh; 
}
#name_head{
    text-align: center;
}
#nav{
    position: relative;
    border: 2px;
    height:100px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 80px;
}
.icon{
    height:100px;
    float: left;
    border-radius: 12px;
    margin: 3px;
}
.button:hover {
    background-color: lightblue;
}

.map{
    height: 500px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

.column {
    display: flex;
    flex-direction: column;
    margin: 0 20px; /* Spacing between columns */
    align-items: center;
}

.option {
    display: block;
    margin: 10px;
    padding: 15px 30px;
    background-color: #333333cb;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.option:hover {
    background-color: #555;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #7b777753;
    font-size: 16px;
    color: rgb(11, 2, 2);
    text-align: center;
    padding: 5px 0;
}
#Nit{
    text-align: center;
}
